- if @auth.present?
  = form_tag '/channel', :remote => true do
    = text_field_tag 'channel', nil, :autofocus => true
    = submit_tag 'Add Channel', :class => 'btn'

  = link_to('Refresh List', '/refresh', :remote => true, :class => 'btn')
